<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Fakes" version="0.5" />
  <package id="Machine.Fakes.NSubstitute" version="0.5" />
  <package id="Machine.Specifications" version="0.5.7" />
  <package id="Machine.Specifications.Mvc" version="1.5.51.0" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="NSubstitute" version="1.4.2.0" />
</packages>